nav {
    background-color: black;
    overflow: hidden;
    text-align: right;
}

nav a {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}