nav {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:rgb(177, 201, 255);
}
.navContainer {
  display: flex;
  height: 100%;
}
nav a {
  display: flex;
  height: 100%;
  margin-left: 20px;
  text-align: center;
  align-items: center;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 24px;
}
.navContainer a:hover {
  background-color: rgb(247, 69, 137);
}
#homeIntroduction {
  flex-grow: 1;
  text-align: left;
}
#homeLink {
  margin:0;
  font-size: 40px;
  color: rgb(0, 0, 255);
  background-color: rgb(40, 236, 83);
}
#homeLink:hover {
  background-color: rgb(217, 252, 62)
}

.description{
  background-color: rgb(255,255,255);
}
.img-fluid {
    height: 500px;
    object-fit: cover; 
}
header{
  background-color: rgb(90, 236, 187);
 margin: 0 40%;
}
h1{
  background-color: rgb(104, 220, 244);
  text-align: center;
}
footer{
  background-color: rgb(0,0,0);
  color: rgb(255,255,255);
}